<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.member.mapper.MemberMapper">
    <resultMap id="memberMap" type="org.scoula.member.domain.MemberVO">
        <id property="no" column="no"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="birthYear" column="birth_year"/>
        <result property="regDate" column="reg_date"/>
        <result property="updatedDate" column="updated_date"/>
    </resultMap>

    <select id="getList" resultMap="memberMap">
        SELECT
            no,
            username,
            password,
            email,
            birth_year,
            reg_date,
            updated_date
        FROM tbl_member
        ORDER BY no DESC
    </select>

    <select id="get" parameterType="long" resultMap="memberMap">
        SELECT
            no,
            username,
            password,
            email,
            birth_year,
            reg_date,
            updated_date
        FROM tbl_member
        WHERE no = #{no}
    </select>

    <insert id="insert" parameterType="org.scoula.member.domain.MemberVO" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO tbl_member (
            username,
            password,
            email,
            birth_year,
            reg_date,
            updated_date
        ) VALUES (
            #{username},
            #{password},
            #{email},
            #{birthYear},
            NOW(),
            NOW()
        )
    </insert>

    <update id="update" parameterType="org.scoula.member.domain.MemberVO">
        UPDATE tbl_member
        SET
            username = #{username},
            password = #{password},
            email = #{email},
            birth_year = #{birthYear},
            updated_date = NOW()
        WHERE no = #{no}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM tbl_member
        WHERE no = #{no}
    </delete>
</mapper>
